In [1]:
!pip install bs4

Requirement already satisfied: bs4 in /home/ubuntu2/.local/lib/python3.9/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /home/ubuntu2/.local/lib/python3.9/site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in /home/ubuntu2/.local/lib/python3.9/site-packages (from beautifulsoup4->bs4) (2.2.1)

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"
data= requests.get(url).text

In [4]:
soup=BeautifulSoup(data,"html.parser")

In [11]:
netflix_data=pd.DataFrame(columns=['Date','Open',"High","Low","Close","Volume"])

for row in soup.find("tbody").find_all("tr"):
    col=row.find_all("td")
    date=col[0].text
    Open=col[1].text
    high=col[2].text
    low=col[3].text
    close=col[4].text
    adj_close=col[5].text
    volume=col[6].text
    
    netflix_data=netflix_data.append({"Date":date,"Open":Open,"High":high,"Low":low,"Close":close,"Adj_Close":adj_close,"Volume":volume},ignore_index=True)

In [12]:
netflix_data.head()

           Date    Open    High     Low   Close       Volume Adj_Close
0  Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1  May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2  Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3  Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4  Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85

In [13]:
read_html_pandas_data=pd.read_html(url)

In [14]:
read_html_pandas_data=pd.read_html(str(soup))

In [15]:
netflix_dataFrame=read_html_pandas_data[0]
netflix_dataFrame.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300

In [16]:
url=" https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html"

html_data=requests.get(url).text

In [34]:
soup = BeautifulSoup(html_data, 'html.parser')
#print(soup.prettify())
tag_obj=soup.title
print("tag obj :" ,tag_obj)

tag obj : <title>Amazon.com, Inc. (AMZN) Stock Historical Prices &amp; Data - Yahoo Finance</title>

In [42]:
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[0].text
    
    amazon_data = amazon_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

In [43]:
amazon_data.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,"Jan 01, 2021","3,270.00","3,363.89","3,086.00","3,206.20","Jan 01, 2021","3,206.20"
1,"Dec 01, 2020","3,188.50","3,350.65","3,072.82","3,256.93","Dec 01, 2020","3,256.93"
2,"Nov 01, 2020","3,061.74","3,366.80","2,950.12","3,168.04","Nov 01, 2020","3,168.04"
3,"Oct 01, 2020","3,208.00","3,496.24","3,019.00","3,036.15","Oct 01, 2020","3,036.15"
4,"Sep 01, 2020","3,489.58","3,552.25","2,871.00","3,148.73","Sep 01, 2020","3,148.73"

In [44]:
amazon_data1 = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])
amazon_data1

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume]
Index: []

In [45]:
amazon_data['Open'][60]

'656.29'